@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Comfortaa', cursive !important;
}

.main-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.pointer {
	cursor: pointer;
}

.disable {
	color: rgb(160, 159, 159);
}

.remove-dec {
	text-decoration: none;
	color: black;
}

.remove-dec:hover {
	text-decoration: underline;
	color: black;
}
