.how-to-page-container {
	padding: 5rem 10rem;
}

.how-it-works-container,
.about-us-container {
	padding-bottom: 5rem;
}

.sub-container {
	padding-bottom: 3rem;
}

.video-container {
	display: flex;
	margin-top: 2rem;
	justify-content: center;
}
