.home-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: 10vh;

	position: relative;
}

.user-input-box {
	width: 50vw !important;
}

.user-input-row-wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
}

#submission-button {
	margin: 0 0.5rem;
	padding: 0 2rem;
}

#or-text {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
}

.microphone-container {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
}

.home-toast {
	position: fixed;
	bottom: 4vh;
}
