.metrics-page-container {
	position: relative;

	padding: 5rem;
	/* margin: 5rem;
	border-radius: 15px; */
	background-color: rgb(249, 249, 249);
}

.view-nav {
	font-size: 1.25rem;
}

.time-interval-text {
	font-size: 1rem;
}

.uncontrolled-dropdown {
	padding-top: 4rem;
}

.visualizations-container {
	padding-top: 5vh;
}

.pie-chart-visual-container {
	display: flex;
	justify-content: center;
}

.pie-chart-card {
	min-width: 25rem !important;
	max-width: 25rem;
}

.top-container {
	display: flex;
	justify-content: flex-start;
}

.today-container .header,
.month-container .header {
	display: flex;
	padding-bottom: 2rem;
}

.pie-chart-container,
.area-chart-container {
	padding-bottom: 3rem;
}

.pie-chart-container .header h1,
.area-chart-container .header h1 {
	font-weight: 400;
}

.card {
	box-shadow: 22px 22px 35px -16px rgba(0, 0, 0, 0.1);
}

.table {
	padding-top: 5vh !important;
}
