.metrics-page-container {
	position: relative;

	padding: 3rem;
	margin: 5rem;
	border-radius: 15px;
	background-color: rgb(249, 249, 249);
}

.view-nav {
}

.visualizations-container {
	padding-top: 5vh;
}

.time-dropdown {
	width: 0;
}

.pie-chart-visual-container {
	display: flex;
	justify-content: center;

	margin: 1rem;
}

.today-container .header,
.month-container .header {
	display: flex;
	padding-bottom: 2rem;
}

.pie-chart-container .header h1,
.area-chart-container .header h1 {
	font-weight: 400;
}

.card {
	box-shadow: 22px 22px 35px -16px rgba(0, 0, 0, 0.1);
}

.table {
	padding-top: 5vh !important;
}
